.custom-button {
    display: grid;
    justify-items: center;
    align-content: center;

    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #03a9f4;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.custom-button:active {
    color: black;
}

.custom-button::after {
    content: attr(tooltipText);

    top: 20px;
    position: absolute;
    background-color: rgba(66, 66, 66, 0.9);
    color: white;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;

    transform: scale(0);
    transition: transform ease-out 150ms, top ease-out 150ms;
}

.custom-button:hover::after {
    transform: scale(1);
    top: 40px;
}
