.App {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #eeeded;
}

.custom-button {
  display: grid;
  justify-items: center;
  align-content: center;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #03a9f4;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}







.tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: '';

  top: 40px;
  position: absolute;
  background-color: rgba(66, 66, 66, 0.9);
  color: white;
  border-radius: 5px;
  padding: 10px;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, 0);

  visibility: hidden;
  opacity: 0;
  transition: opacity ease-out 400ms, top ease-out 250ms;
}

.tooltip:hover::after {
  content: attr(tooltiptext);

  visibility: visible;
  opacity: 1;
  top: 50px;
}








/*.custom-button::after {*/
/*  content: '';*/

/*  top: 20px;*/
/*  position: absolute;*/
/*  background-color: rgba(66, 66, 66, 0.9);*/
/*  color: white;*/
/*  border-radius: 5px;*/
/*  padding: 10px;*/
/*  white-space: nowrap;*/


/*  transform: scale(0);*/
/*  transition: transform ease-out 150ms, top ease-out 150ms;*/
/*}*/

/*.custom-button:hover::after {*/
/*  content: attr(tooltiptext);*/

/*  transform: scale(1);*/
/*  top: 40px;*/
/*}*/
